@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Shippori+Gothic&display=swap');

body {
  font-family: 'Shippori Gothic', sans-serif;
  background-color: #fdfcf8;
  color: #000;
  margin: 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h2 {
  color: #1E90FF;
  margin-bottom: 1em;
}

table {
  border-collapse: collapse;
  width: 95%;
  max-width: 1000px;
  margin-bottom: 2em;
}

th, td {
  border: 1px solid #ccc;
  padding: 1em;
  text-align: center;
  font-size: 0.95em;
}

th {
  background-color: #1E90FF;
  color: white;
}

td a {
  margin: 0 0.3em;
  text-decoration: none;
  color: #1E90FF;
  border-bottom: 1px solid #1E90FF;
  font-size: 0.9em;
}

a {
	margin: 0 0.3em;
	text-decoration: none;
	color: #1E90FF;
	border-bottom: 1px solid #1E90FF;
	font-size: 0.9em;	
}

.error-message {
  color: red;
  margin-top: 1em;
  font-weight: bold;
}
